#custom_post_type_table, #taxonomy_table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;

    td, th {
        border: 1px solid black;
        padding: 12px;
        font-size: 16px;
        text-align: left;
    }

    th {
        background-color: #e0ebeb;
    }
}
.table_header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}