#yvic-authentication-form {
    position: absolute;
    top: 130px;
    right: 0;
    z-index: 10;
    overflow: hidden;

    .yvic-show-authentication-button {
        margin: 20px;
        position: absolute;
        top: 0;
        right: 0;
    }


    #show-btn {
        &.hide {
            display: none;
        }
    }
}

#yvic-authentication-container {
    &.show {
        transform: translateX(0);
    }
}

.authentication-container {
    transition: transform 200ms ease;
    transform: translateX(400px);

    width: 340px;
    margin: 20px;
    padding: 20px;
    background-color: rgb(182, 197, 182);
    position: relative;
    
    h2 {
        font-size: 35px;
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: 8px;
    }

    .close {
        display: inline-block;
        position: absolute;
        top: 0px;
        right: 10px;
        font-size: 33px;
    }

    label {
        text-transform: uppercase;
        font-weight: 100;
        letter-spacing: 4px;
        font-size: 18px;
    }

    label, .submit_button {
        display: block;
    }

    input {
        width: 90%;
        margin-bottom: 10px;
    }

    input[type="password"] {
        margin-bottom: 18px;
    }

    .actions {
        text-align: center;
        margin-bottom: 0;
        margin-top: -5px;

        a {
            font-size: 15px;
            text-transform: uppercase;
            display: inline-block;
            margin: 0 4px;
        }
    }

    .status {
        font-size: 15px;
        text-transform: uppercase;
        margin: 0 4px;
        letter-spacing: 2px;
        text-align: center;

        &.error {
            color: rgb(128, 0, 0);
        }

        &.success {
            color: rgb(46, 139, 87);
        }
    }
}