/*styles for slider*/
.custom-slider-wrap {
    margin: 0 auto;
    
    & .custom-slider-container {
        width: 100%;
        position: relative;

        & .custom-slider-view {
            display: block;
            width: 100%;
            margin: 0 auto;
            overflow: hidden;

            & .testimonial_list {
                list-style: none;
                white-space: nowrap;
                text-align: center;
                list-style: none;
                margin: 0;
                padding: 0;
                transition: transform 0.25s ease-out;
                & .custom-slider-view-slide {
                    position: relative;
                    white-space: normal;
                    display: inline-block;
                    width: 100%;
                }
            }
        }
        & .custom-slider-arrows {
            width: 100%;
            margin: 0 auto;
            span {
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                width: 20px;
                height: 20px;
                display: block;
                text-align: center;
                opacity: 0.5;
                cursor: pointer;
                &.arrow-left {
                    left: 0;
				    transform: translate(-100%, -50%);
                }
                &.arrow-right {
                    right: 0;
				    transform: translate(-100%, -50%);
                }
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}
.testimonial-message {
    font-style: italic;
	font-weight: 200;
	font-size: 0.9em;
	letter-spacing: 0.05em;
	position: relative;
	margin-bottom: 0.5em;
	padding: 0 10px;
}
.testimonial-author {
	font-size: 0.9em;
	font-weight: 800;
	margin-bottom: 0.5em;
}